
h1{
    color: aqua;
    text-align: center;
    font-family: harrington;
}
p{
    color: white;
    text-align: left;
    font-family: harrington;
}
body{
    background-image: url('../home/images/bg3.jpg');
}
/*input types*/
input[type=text], input[type=username], select{
    width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
textarea{
    width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
label{
    color: white;
    text-align: center;
    font-family: sans-serif;
}
button{
    border: none;
    border-radius: 5px;
    background-color: rgb(18, 170, 221);
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    color: white;
}
form{
    text-align: center;
}
.tables{
    color: white;
    width: 100%;
}
.tables tr td{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#0278ae;
}
.tables tr th{
    padding-top: 20px;
    padding-bottom: 12px;
    text-align: center;
    background-color:#0f242e;

}